*{
    font-size: 20px;
    color: white;
}
div{
    margin: 0px auto;
    width: 400px;
    height: 100px;
    }
.orange-button, .grey-button, .number-button{
    width: 100px;
    height: 100px;
    float: left;
}
.orange-button {
    background-color: orange;
} 
.grey-button {
    background-color: rgb(138, 134, 134);
}
.number-button{
    background-color: rgb(176, 172, 172);
}
.button-zero{
    background-color: rgb(176, 172, 172);
    width: 200px;
    height: 100px;
    float: left;
}
.result{
    text-align:right;
    width: 400px;
    height: 100px;
    background-color: rgb(74, 71, 71);
}